:root {
  --primary-color: #9dd6e0;
  --primary-color-dark: hwb(190 5% 23%);
  --secondary-color: #ca8a04;
  --text-dark: #2ba1e1;
  --text-light: #6b7280;
  --extra-light: #a27b73;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;  
}

a {
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d0909;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
 justify-content: space-between;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}
nav .logo a {
  color: var(--primary-color-dark);
}
ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
}

.section {
  padding-top: 5%;
  background-image: url("sss.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section__container {
  min-height: 80vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem;
  align-items: center;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image img {
  width: min(19rem);
  height: min(19rem); 
  border-radius: 50%; 
  margin-bottom: 25px;
}

.image img:hover {
  transform: scale(1.015);
  cursor: pointer;
}

.text-below-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin: 10px;
}

.title span {
  font-weight: 600;
}
.action__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  font-family:sans-serif;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  border: #000000;
  border-radius: 1000px;
  cursor: pointer;
  font-family:sans-serif;
}

.hire__me {
  background-color: #502fe6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:sans-serif;
  
}
.hire__me:hover {
  transform: scale(0.9);
  background-color:#d7d4d9;
  color: #373638;
}
.social-icons {
  display: flex;
  gap: 1rem; 
  color: white;
}
.social-icons i {
  font-size: 2.4rem; 
}
.social-icons i:hover{
  transform: scale(1.2);
  cursor: pointer;
  color: #2ba1e1;
}
